<launch>
    <group ns="tf_transforms">
        <node name="NED_ENU_node" pkg="tf_transforms" type="NED_ENU_node"/>
        <node name="leddar_main_node" pkg="tf_transforms" type="leddar_main_node"/>
        <node name="camera_main_node" pkg="tf_transforms" type="camera_main_node"/>
        <node name="gps_repub_node" pkg="tf_transforms" type="gps_repub_node"/>
    </group>
</launch>
